﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Interfaz/PaginaMaestra.Master" AutoEventWireup="true" CodeBehind="ABMAnimales.aspx.cs" Inherits="ObPro3.Interfaz.ABMAnimales" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div style="height: 748px">
        <asp:Label ID="lblTituloAbmAnimales" runat="server" Font-Size="XX-Large" Text="ABM Animales"></asp:Label>
        <br />
        <asp:TextBox ID="txtId" runat="server"></asp:TextBox>
        <asp:Button ID="btnBuscar" runat="server" Text="BUSCAR" OnClick="btnBuscar_Click" />
        <br />
        <br />
        <asp:TextBox ID="txtNombre" runat="server"></asp:TextBox>
        nombre<br />
        <br />
        <asp:TextBox ID="txtEspecie" runat="server"></asp:TextBox>
        especie<br />
        <br />
        <asp:TextBox ID="txtTamanio" runat="server"></asp:TextBox>
        tamanieo<br />
        <br />
        <asp:TextBox ID="txtPeso" runat="server"></asp:TextBox>
        peso<br />
        <br />
        <asp:TextBox ID="txtEdad" runat="server" Width="128px"></asp:TextBox>
        edad<br />
        <br />
        <asp:TextBox ID="txtEstadoSanitario" runat="server"></asp:TextBox>
        estado sanitario<br />
        <asp:CheckBox ID="cbCastracion" runat="server" Text="Castrado" />
        <br />
        <br />
        <asp:CheckBox ID="cbVacunas" runat="server" Text="Vacunado" />
        <br />
        <br />
        <asp:DropDownList ID="ddlRefugios" runat="server" OnSelectedIndexChanged="ddlRefugios_SelectedIndexChanged">
        </asp:DropDownList>
        <br />
        <br />
        fecha deceso<asp:Calendar ID="Calendar1" runat="server"></asp:Calendar>
        <br />
        <br />
        <asp:Button ID="btnAceptar" runat="server" Text="ACEPTAR" OnClick="btnAceptar_Click" />
        <br />
        <br />
        <br />
    </div>
</asp:Content>
