﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Interfaz/PaginaMaestra.Master" AutoEventWireup="true" CodeBehind="ABMAdopciones.aspx.cs" Inherits="ObPro3.Interfaz.ADOPTAR" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div style="height: 593px">

        <asp:Label ID="Label1" runat="server" Font-Size="XX-Large" Text="ABM ADOPTAR"></asp:Label>
        <br />
        <br />
        <asp:TextBox ID="txtId" runat="server"></asp:TextBox>
        <asp:Button ID="btnBuscar" runat="server" Text="BUSCAR" />
        <br />
        <br />
        <asp:TextBox ID="txtIdAnimal" runat="server"></asp:TextBox>
        animal<br />
        <br />
        <asp:TextBox ID="txtCiPadrino" runat="server"></asp:TextBox>
        CiPadrino<br />
        <br />
        <asp:TextBox ID="txtCiEmpleado" runat="server"></asp:TextBox>
        CiEmpleado<br />
        <br />
        <asp:DropDownList ID="ddlEstado" runat="server">
            <asp:ListItem Value="0">INICIADO</asp:ListItem>
            <asp:ListItem Value="1">EN_PROCESO</asp:ListItem>
            <asp:ListItem Value="2">COMPLETADA</asp:ListItem>
            <asp:ListItem Value="3">RECHAZADA</asp:ListItem>
        </asp:DropDownList>
        ESTADO<br />
        <br />

        <asp:Button ID="btnAceptar" runat="server" OnClick="btnAceptar_Click" Text="ACEPTAR" />
        <asp:Button ID="btnModificar" runat="server" OnClick="btnModificar_Click" Text="MODIFICAR" />
        <asp:Label ID="lblError" runat="server"></asp:Label>

    </div>
</asp:Content>
