﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Interfaz/PaginaMaestra.Master" AutoEventWireup="true" CodeBehind="ABMDenuncia.aspx.cs" Inherits="ObPro3.Interfaz.ABMDenuncia" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div style="height: 640px">

        <asp:Label ID="Label1" runat="server" Font-Size="XX-Large" Text="ABM DENUNCIAS"></asp:Label>
        <br />
        <br />
        <asp:TextBox ID="txtId" runat="server"></asp:TextBox>
        <asp:Button ID="btnBuscar" runat="server" Text="BUSCAR" />
        <br />
        <br />
        <asp:TextBox ID="txtTelefono" runat="server"></asp:TextBox>
        telefono<br />
        <br />
        <asp:TextBox ID="txtEmail" runat="server"></asp:TextBox>
        email<br />
        <br />
        <br />
        <asp:TextBox ID="txtDescripcion" runat="server" Height="122px" Width="300px"></asp:TextBox>
        <br />
        <br />
        <asp:CheckBox ID="chkEstado" runat="server" Text="Visto" />
        <br />
        <br />
        <asp:Button ID="btnAceptar" runat="server" Text="ACEPTAR" OnClick="btnAceptar_Click" />

        <asp:Label ID="lblError" runat="server"></asp:Label>

    </div>
</asp:Content>
