﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Interfaz/PaginaMaestra.Master" AutoEventWireup="true" CodeBehind="ABMPadrinos.aspx.cs" Inherits="ObPro3.Interfaz.ABMPadrinos" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div style="height: 673px">

    <asp:Label ID="Label1" runat="server" Font-Size="XX-Large" Text="ABM PADRINOS"></asp:Label>
    <br />
    <br />
    <asp:TextBox ID="txtCi" runat="server"></asp:TextBox>
    <asp:Button ID="btnBuscar" runat="server" Text="BUSCAR" OnClick="btnBuscar_Click" />
    CI<br />
    <br />
    <asp:TextBox ID="txtNombre" runat="server"></asp:TextBox>
    nombre<br />
    <br />
    <asp:TextBox ID="txtTelefono" runat="server"></asp:TextBox>
    telefono<br />
    <br />
    <asp:TextBox ID="txtEmail" runat="server"></asp:TextBox>
    email<br />
    <br />
    <asp:TextBox ID="txtDireccion" runat="server"></asp:TextBox>
    direccion<br />
    <br />
    <asp:TextBox ID="txtPassword" runat="server"></asp:TextBox>
        password<br />
        <br />
        <asp:DropDownList ID="ddlEstado" runat="server">
            <asp:ListItem>Estado</asp:ListItem>
            <asp:ListItem>ALTA</asp:ListItem>
            <asp:ListItem>INACTIVO</asp:ListItem>
        </asp:DropDownList>
        <br />
    <br />
    <asp:Button ID="btnAceptar" runat="server" Text="ACEPTAR" OnClick="btnAceptar_Click" />

        <asp:Button ID="btnModificar" runat="server" OnClick="btnModificar_Click" Text="MODIFICAR" />

        <asp:Label ID="lblError" runat="server"></asp:Label>

    </div>
</asp:Content>
