﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Interfaz/PaginaMaestra.Master" AutoEventWireup="true" CodeBehind="ABMRefugios.aspx.cs" Inherits="ObPro3.Interfaz.ABMRefugios" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div>


    <br />
    <asp:Label ID="Label1" runat="server" Font-Size="XX-Large" Text="ABM REFUGIOS"></asp:Label>
    <br />
    <br />
    <asp:TextBox ID="txtNombre" runat="server"></asp:TextBox>
    nombre<br />
    <br />
    <asp:TextBox ID="txtDireccion" runat="server"></asp:TextBox>
    direccion<br />
    <br />
    <br />
    <asp:TextBox ID="txtZona" runat="server"></asp:TextBox>
    zona<br />
    <br />
    <asp:Button ID="btnAceptar" runat="server" OnClick="btnAceptar_Click" Text="ACEPTAR" />
    <br />


    </div>
</asp:Content>
