﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Interfaz/PaginaMaestra.Master" AutoEventWireup="true" CodeBehind="Inicio.aspx.cs" Inherits="ObPro3.Interfaz.Inicio" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div>

        <br />
        <br />
        <br />

    </div>
    <br />
</asp:Content>
