﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Interfaz/PaginaMaestra.Master" AutoEventWireup="true" CodeBehind="InicioSesion.aspx.cs" Inherits="ObPro3.Interfaz.InicioSesion" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div style="height: 346px">

    <br />
    <br />
    <asp:TextBox ID="txtUsuario" runat="server"></asp:TextBox>
        usuario<br />
    <br />
    <asp:TextBox ID="txtContrasenia" runat="server"></asp:TextBox>
    contrasenia<br />
    <br />
    <asp:Button ID="btnAceptar" runat="server" Text="ACEPTAR" OnClick="btnAceptar_Click" />

        <asp:Label ID="lblError" runat="server"></asp:Label>

    </div>
</asp:Content>
